<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBbKdVll_7bs2WSBpLOkvSx__AawOoq38I</string>
	<key>GCM_SENDER_ID</key>
	<string>668391589242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sample</string>
	<key>PROJECT_ID</key>
	<string>bookmark-170cf</string>
	<key>STORAGE_BUCKET</key>
	<string>bookmark-170cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668391589242:ios:8a217ebd4e5b16ad5f42c3</string>
</dict>
</plist>